body {
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
  margin: 0 0.5em 0 0.5em;
}

[contenteditable] {
  user-select: text;
  -webkit-user-select: text;
}
[contenteditable]:focus {
  outline: solid 0px;
}
